<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EventoProgramadoMapper">
	<resultMap type='EventoProgramado' id='EventoProgramadoResult'>
		<id property='id' column='id'/>
		<result property='fechaInicio' column='fecha_inicio'/>
		<result property='duracion' column='duracion'/>  
	</resultMap>
</mapper>