<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EventoMapper">
	<resultMap type='Evento' id='EventoResult'>
		<id property='id' column='id'/>
		<result property='estado' column='estado'/>
        <result property="horaInicio" column="horaInicio"></result>
        <result property="horaFin" column="horaFin"></result>
	</resultMap>

  
  <update parameterType="map" id="cancelarEventosPendientesRecurso">
	  update evento as eve
	    set estado='Cancelada'
    FROM
      reserva as res
    WHERE
      res.recurso=#{recurso} AND res.id=eve.reserva AND now() &lt;= eve.hora_inicio;
  </update>



  <insert parameterType="Evento" id="registrarEvento" useGeneratedKeys="true" keyProperty="evento.id" keyColumn="id">
    INSERT INTO evento(reserva, hora_inicio, hora_fin, estado) values (#{idReserva}, #{evento.horaInicio}, #{evento.horaFin}, #{evento.estado});
  </insert>
    
	<insert parameterType="Evento" id="registrarEventoEstado" useGeneratedKeys="true" keyProperty="evento.id" keyColumn="id">
    INSERT INTO evento(reserva, hora_inicio, hora_fin, estado) values (#{reserva.id}, #{inicio}, {fin}, #{estado});
  </insert>

    <select parameterType='map' id='consultarEventos' resultMap='EventoResult'>
        SELECT
        id,
        nombre,
        ubicacion,
        tipo,
        capacidad,
        estado
        FROM
        recurso
        <where>
            <if test="reserva != null">
                reserva = #{reserva}
            </if>
        </where>
    </select>
</mapper>