<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper">
	<resultMap type='Recurso' id='RecursoResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='ubicacion' column='ubicacion'/>  
		<result property='tipo' column='tipo'/>
		<result property='capacidad' column='capacidad'/>  
		<result property='estado' column='estado'/>
        <result property='inicioDisponibilidad' column='inicio_disponibilidad'/>
        <result property='finDisponibilidad' column='fin_disponibilidad'/>
	</resultMap>

  <resultMap id="pairHorarioResultMap" type="Pair">
    	<id property="left"  javaType="java.lang.String" column='rango'/>
    	<result property="right"  javaType="java.lang.Long" column='numero'/>
	</resultMap>

  <resultMap id="pairUsoRecursoResult" type="Pair">
    <id column='id'/>
    <result property="right"  javaType="java.lang.Long" column='numero'/>
    <association property="left" javaType="Recurso"  resultMap="RecursoResult"></association>
  </resultMap>

  <sql id="getAllRecursos">
		SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado,
      inicio_disponibilidad,
      fin_disponibilidad
     FROM
      recurso as rec
  </sql>
  

  <sql id="getAllUsos">
      SELECT
      k || t as rango,
      (SELECT COUNT(*) from evento as eve1 where 
      t1.k  &lt;= substring(to_char(eve1.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) and
      substring(to_char(eve1.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= t
      <if test="tipo != null">
        AND #{tipo} = (SELECT recurso.tipo FROM reserva, recurso WHERE reserva.recurso=recurso.id AND eve1.reserva=reserva.id)                        
      </if>
      <if test="rango != null">
        AND #{rango.left} &lt;=  eve1.fecha_inicio AND  eve1.fecha_fin &lt;= #{rango.right}
      </if>
      <if test="programa != null">
        AND #{programa} = (SELECT usuario.u_area FROM reserva, usuario WHERE reserva.usuario=usuario.correo AND eve1.reserva=reserva.id)                        
      </if>
      ) as numero 
    FROM
      (SELECT
        DISTINCT ON(k,t ) 
        SUBSTRING(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) as k, SUBSTRING(to_char(eve.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) as t
      FROM evento as eve
      <where>
        <if test="franja != null">
          substring(to_char(#{franja.left}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) AND
          substring(to_char(#{eve.hora_fin}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(#{franja.right}, 'YYYY-MM-DD HH24:MI:SS'), 12)
        </if>
      </where>
      GROUP BY 
        hora_inicio, hora_fin
      ) as t1
  </sql>




  <select parameterType='map' id='consultarRecurso' resultMap='RecursoResult'>
    <include refid="getAllRecursos"/>
    WHERE
      rec.id=#{id};
  </select>

  <select parameterType='map' id='consultarRecursos' resultMap='RecursoResult'>
    <include refid="getAllRecursos"/>
  </select>


  <select parameterType='map' id='consultarRecursosDisponibles' resultMap='RecursoResult'>
    <include refid="getAllRecursos"/>
    WHERE estado='Disponible' 
    <if test="tipo != null">
      AND tipo = #{tipo}
    </if>
    <if test="capacidad > 0">
      AND capacidad=#{capacidad}
    </if>
    <if test="ubicacion != null">
      AND ubicacion=#{ubicacion}
    </if>	
  </select>

  <update id="cambiarEstado" parameterType="map">
    UPDATE recurso SET estado = #{estado}
    WHERE id = #{id};
  </update>
   
  <insert parameterType="Recurso" id="agregarRecurso" useGeneratedKeys="true" keyProperty="rec.id" keyColumn="id">
    INSERT INTO recurso(nombre, ubicacion, tipo, capacidad, estado,inicio_disponibilidad ,fin_disponibilidad) values (#{rec.nombre}, #{rec.ubicacion}, #{rec.tipo}, #{rec.capacidad}, #{rec.estado},#{rec.inicioDisponibilidad},#{rec.finDisponibilidad});
  </insert>


  <select parameterType='map' id='consultarRecursosMasUsados' resultMap='pairUsoRecursoResult'>
    SELECT
      id,
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado,
      inicio_disponibilidad,
      fin_disponibilidad,
      (SELECT
      COUNT(*)
      FROM
      reserva, usuario
      WHERE
      reserva.recurso=rec.id AND reserva.estado='Activa' AND reserva.usuario = usuario.correo
      <if test="programa != null">
        AND usuario.u_area = #{programa}
      </if>
      ) AS numero
    FROM
    recurso as rec
    <where>
      <if test="tipo != null">
        rec.tipo=#{tipo}
      </if>
    </where>
    ORDER BY
    <if test="franja == null and rango == null">
      numero DESC,
    </if>
    (SELECT 
      COUNT(*) 
    FROM 
      reserva as res, evento as eve, usuario
    WHERE 
      res.recurso=rec.id AND res.estado='Activa' and eve.reserva=res.id AND eve.estado='Activa' AND usuario.correo=res.usuario
      <if test="programa != null">
        AND usuario.u_area = #{programa}
      </if>
      <if test="franja != null">
        AND substring(to_char(#{franja.left}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12)
        AND substring(to_char(hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char({franja.right}, 'YYYY-MM-DD HH24:MI:SS'), 12)
      </if>
      <if test="rango != null">
        AND #{rango.left} &lt;= eve.hora_inicio AND eve.hora_fin &lt;= #{rango.right}
      </if>
    ) DESC
    LIMIT 10;
  </select>



  <select parameterType='map' id='consultarRecursosMenosUsados' resultMap='pairUsoRecursoResult'>
    SELECT
    id,
    nombre,
    ubicacion,
    tipo,
    capacidad,
    estado,
    inicio_disponibilidad,
    fin_disponibilidad,
    (SELECT
    COUNT(*)
    FROM
    reserva, usuario
    WHERE
    reserva.recurso=rec.id AND reserva.estado='Activa' AND reserva.usuario = usuario.correo
    <if test="programa != null">
      AND usuario.u_area = #{programa}
    </if>
    ) AS numero
    FROM
    recurso as rec
    <where>
      <if test="tipo != null">
        rec.tipo=#{tipo}
      </if>
    </where>
    ORDER BY
    <if test="franja == null and rango == null">
      numero ASC,
    </if>
    (SELECT
    COUNT(*)
    FROM
    reserva as res, evento as eve, usuario
    WHERE
    res.recurso=rec.id AND res.estado='Activa' and eve.reserva=res.id AND eve.estado='Activa' AND usuario.correo=res.usuario
    <if test="programa != null">
      AND usuario.u_area = #{programa}
    </if>
    <if test="franja != null">
      AND substring(to_char(#{franja.left}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12)
      AND substring(to_char(hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char({franja.right}, 'YYYY-MM-DD HH24:MI:SS'), 12)
    </if>
    <if test="rango != null">
      AND #{rango.left} &lt;= eve.hora_inicio AND eve.hora_fin &lt;= #{rango.right}
    </if>
    ) ASC
    LIMIT 10;
  </select>
  

  
  <select parameterType='map' id='consultarHorariosMayorOcupacion' resultMap='pairHorarioResultMap'>
      SELECT
        k || ' - ' || t as rango,
        (SELECT COUNT(*) from evento as eve1 where 
        t1.k  &lt;= substring(to_char(eve1.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) and
        substring(to_char(eve1.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= t
        <if test="tipo != null">
          AND #{tipo} = (SELECT recurso.tipo FROM reserva, recurso WHERE reserva.recurso=recurso.id AND eve1.reserva=reserva.id)                        
        </if>
        <if test="rango != null">
          AND #{rango.left} &lt;=  eve1.fecha_inicio AND  eve1.fecha_fin &lt;= #{rango.right}
        </if>
        <if test="programa != null">
          AND #{programa} = (SELECT usuario.u_area FROM reserva, usuario WHERE reserva.usuario=usuario.correo AND eve1.reserva=reserva.id)                        
        </if>
        ) as numero 
      FROM
        (SELECT
          DISTINCT ON(k,t ) 
          SUBSTRING(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) as k, SUBSTRING(to_char(eve.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) as t
        FROM evento as eve
        <where>
          <if test="franja != null">
            substring(to_char(#{franja.left}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) AND
            substring(to_char(#{eve.hora_fin}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(#{franja.right}, 'YYYY-MM-DD HH24:MI:SS'), 12)
          </if>
        </where>
        GROUP BY 
          hora_inicio, hora_fin
        ) as t1
      ORDER BY
        numero DESC;
  </select>

  <select parameterType='map' id='consultarHorariosMenorOcupacion' resultMap='pairHorarioResultMap'>
      SELECT
        k || ' - ' || t as rango,
        (SELECT COUNT(*) from evento as eve1 where 
        t1.k  &lt;= substring(to_char(eve1.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) and
        substring(to_char(eve1.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= t
        <if test="tipo != null">
          AND #{tipo} = (SELECT recurso.tipo FROM reserva, recurso WHERE reserva.recurso=recurso.id AND eve1.reserva=reserva.id)                        
        </if>
        <if test="rango != null">
          AND #{rango.left} &lt;=  eve1.fecha_inicio AND  eve1.fecha_fin &lt;= #{rango.right}
        </if>
        <if test="programa != null">
          AND #{programa} = (SELECT usuario.u_area FROM reserva, usuario WHERE reserva.usuario=usuario.correo AND eve1.reserva=reserva.id)                        
        </if>
        ) as numero 
      FROM
        (SELECT
          DISTINCT ON(k,t ) 
          SUBSTRING(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) as k, SUBSTRING(to_char(eve.hora_fin, 'YYYY-MM-DD HH24:MI:SS'), 12) as t
        FROM evento as eve
        <where>
          <if test="franja != null">
            substring(to_char(#{franja.left}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(eve.hora_inicio, 'YYYY-MM-DD HH24:MI:SS'), 12) AND
            substring(to_char(#{eve.hora_fin}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= substring(to_char(#{franja.right}, 'YYYY-MM-DD HH24:MI:SS'), 12)
          </if>
        </where>
        GROUP BY 
          hora_inicio, hora_fin
        ) as t1
      ORDER BY
        numero ASC;
  </select>

</mapper>