<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper">
	<resultMap type='Recurso' id='RecursoResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='ubicacion' column='ubicacion'/>  
		<result property='tipo' column='tipo'/>
		<result property='capacidad' column='capacidad'/>  
		<result property='estado' column='estado'/>
        <result property='inicioDisponibilidad' column='inicio_disponibilidad'/>
        <result property='finDisponibilidad' column='fin_disponibilidad'/>
	</resultMap>

  <select parameterType='map' id='consultarRecurso' resultMap='RecursoResult'>
    SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado,
      inicio_disponibilidad,
      fin_disponibilidad
     FROM
      recurso
     WHERE
      id=#{id};
  </select>

  <select parameterType='map' id='consultarRecursos' resultMap='RecursoResult'>
    SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado,
      inicio_disponibilidad,
      fin_disponibilidad
    FROM
      recurso;
  </select>


  <select parameterType='map' id='consultarRecursosDisponibles' resultMap='RecursoResult'>
    SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado,
      inicio_disponibilidad,
      fin_disponibilidad
    FROM
      recurso
	WHERE estado='Disponible' 
	<if test="tipo != null">
		AND tipo = #{tipo}
	</if>
	<if test="capacidad > 0">
		AND capacidad=#{capacidad}
	</if>
	<if test="ubicacion != null">
		AND ubicacion=#{ubicacion}
	</if>	
  </select>

  <update id="cambiarEstado" parameterType="map">
    UPDATE recurso SET estado = #{estado}
    WHERE id = #{id};
  </update>
   
  <insert parameterType="Recurso" id="agregarRecurso" useGeneratedKeys="true" keyProperty="rec.id" keyColumn="id">
    INSERT INTO recurso(nombre, ubicacion, tipo, capacidad, estado,inicio_disponibilidad ,fin_disponibilidad) values (#{rec.nombre}, #{rec.ubicacion}, #{rec.tipo}, #{rec.capacidad}, #{rec.estado},#{rec.inicioDisponibilidad},#{rec.finDisponibilidad});
  </insert>

  
</mapper>