<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ReservaMapper">
	<resultMap type='Reserva' id='ReservaResult'>
		<id property='id' column='id'/>
		<result property='tipo' column='tipo'/>
		<result property='estado' column='estado'/>
		<result property='fechaSolicitud' column='fecha_solicitud'/>
		<association property="usuario" javaType="Usuario" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult" columnPrefix='usuario_'></association>
		<association property="recurso" javaType="Recurso"  resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper.RecursoResult" columnPrefix='recurso_'></association>
		<collection property='eventosAsignados' ofType='Evento' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.EventoMapper.EventoResult' columnPrefix='evento_'></collection>
	</resultMap>

	<resultMap id="pairResultMap" type="Pair">
    	<result property="left"  javaType="java.util.Date" column='fecha_inicio'/>
    	<result property="right"  javaType="java.util.Date" column='fecha_fin'/>
	</resultMap>

	<sql id="getAllReservas">
		SELECT
			res.id as id,
			res.tipo as tipo,
			res.estado as estado,
			fecha_solicitud,
			usuario,
			recurso as recurso_id,
			rec.nombre as recurso_nombre,
			rec.ubicacion as recurso_ubicacion,
			rec.tipo as recurso_tipo,
			rec.capacidad as recurso_capacidad,
			rec.estado as recurso_estado,
			rec.inicio_disponibilidad as recurso_inicio_disponibilidad,
			rec.fin_disponibilidad as recurso_fin_disponibilidad,
			usu.correo as usuario_correo,
			usu.u_area as usuario_u_area,
			usu.nombre as usuario_nombre,
			eve.id as evento_id,
			eve.estado as evento_estado,
			eve.hora_inicio as evento_hora_inicio,
			eve.hora_fin as evento_hora_fin
		FROM
			reserva as res,
			recurso as rec,
			usuario as usu,
			evento as eve
		WHERE
			res.recurso=rec.id AND
			usu.correo=res.usuario AND
			eve.reserva=res.id
	</sql>


	<select parameterType='map' id='consultarReservasPendientes' resultMap='ReservaResult'>
    <include refid="getAllReservas"/>
		<if test="id != null">
			AND res.estado='Activa' AND res.recurso=#{id} AND EXISTS(select * from evento as eve1 where now() &lt;= eve1.hora_inicio and res.id=eve1.reserva)
			AND now() &lt;= eve.hora_inicio;
		</if>
  </select>

     
  
	<update parameterType="map" id="cancelarReservasPendientes">
	  update reserva as res
	  	set estado='Cancelada'
	  WHERE
		res.recurso=#{id} AND res.estado='Activa' AND
		EXISTS(select * from evento as eve1 where now() &lt;= eve1.hora_inicio and res.id=eve1.reserva);
  	</update>

	<insert parameterType="Reserva" id="registrarReserva" useGeneratedKeys="true" keyProperty="reserva.id" keyColumn="id">
    	INSERT INTO reserva(tipo,fecha_solicitud ,estado, usuario ,recurso) values (#{reserva.tipo},#{reserva.fechaSolicitud}, #{reserva.estado}, #{reserva.usuario.correo}, #{reserva.recurso.id});
  	</insert>

	<select parameterType="map" id="consultarReserva" resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		<if test="id != null">
			AND res.id = #{id}
		</if>
	</select>

	

	<select parameterType="map" id="consultarReservasRecurso" resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		<if test="recurso != null">
			AND rec.id = #{recurso} AND res.estado='Activa' AND eve.estado='Activa';
		</if>
	</select>

	<insert parameterType="map" id="registrarSemestre">
    INSERT INTO semestre(fecha_inicio, fecha_fin) values (#{fecha_inicio}, #{fecha_final});
  </insert>

	<select parameterType="map" id="consultarSemestre" resultMap='pairResultMap'>
		SELECT
			fecha_inicio,
			fecha_fin
		FROM
			semestre
		WHERE fecha_inicio &lt;= now() AND now() &lt;= fecha_fin
		LIMIT 1;
	</select>
		
	<select parameterType="map" id="consultarReservasActivasUsuario" resultMap='ReservaResult'>
		<include refid="getAllReservas"/>

			AND res.usuario = #{usuario} AND res.estado='Activa'
        AND (SELECT MAX(eve1.hora_fin) FROM evento as eve1 WHERE eve1.reserva=res.id) &gt; now()


        ORDER BY (SELECT MIN(eve1.hora_inicio) FROM evento as eve1 WHERE eve1.reserva=res.id) DESC;
	</select>


	
	<update parameterType="map" id="cambiarEstadoReserva">
		update reserva as res
			set estado=#{estado}
		WHERE
			res.id = #{reserva};
	</update>


	<select parameterType="map" id="consultarReservasPasadasUsuario" resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		<if test="usuario != null">
			AND res.usuario = #{usuario} AND
			(SELECT MAX(eve1.hora_fin) FROM evento as eve1 WHERE eve1.reserva=res.id) &lt; now()
		</if>
		ORDER BY (SELECT MIN(eve1.hora_inicio) FROM evento as eve1 WHERE eve1.reserva=res.id) DESC;
	</select>


	<select parameterType="map" id="consultarReservasCanceladasUsuario" resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		<if test="usuario != null">
			AND res.usuario = #{usuario} AND res.estado='Cancelada'
		</if>
		ORDER BY (SELECT MIN(eve1.hora_inicio) FROM evento as eve1 WHERE eve1.reserva=res.id) DESC;
	</select>


	<select parameterType='map' id='reservaEnCurso' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.EventoMapper.EventoResult'>
    SELECT 
      estado,
      hora_inicio,
      hora_fin
    FROM
      evento
    WHERE
      reserva = #{idReserva} AND hora_inicio &lt;=now()  AND now() &lt; hora_fin
    LIMIT 1;
	</select>



	<select parameterType='map' id='consultarReservasRecurrentes' resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		AND res.tipo!='Simple' AND res.estado='Activa'
		<if test="tipoReserva != null">
			AND res.tipo = #{tipoReserva}
		</if>
		<if test="programa != null">
			AND usu.u_area = #{programa}
		</if>
		<if test="tipoRecurso != null">
			AND rec.tipo = #{tipoRecurso}
		</if>
		<if test="rango != null">
			AND 
			NOT((#{rango.left} &lt;= (SELECT MIN(eve1.hora_inicio) from evento as eve1 where eve1.reserva = res.id AND eve1.estado='Activa') AND 
				#{rango.right} &lt;= (SELECT MIN(eve1.hora_inicio) from evento as eve1 where eve1.reserva = res.id AND eve1.estado='Activa')) OR 
				((SELECT MAX(eve1.hora_fin) from evento as eve1 where eve1.reserva = res.id AND eve1.estado='Activa') &lt;=  #{rango.right}  AND
				(SELECT MAX(eve1.hora_fin) from evento as eve1 where eve1.reserva = res.id AND eve1.estado='Activa') &lt;=  #{rango.left})
			)
		</if>
		<if test="franja != null">
			substring(to_char(#{eve.hora_fin}, 'YYYY-MM-DD HH24:MI:SS'), 12) &lt;= #{franja.right}
			AND #{franja.left}  &lt;= substring(to_char(#{eve.hora_inicio}, 'YYYY-MM-DD HH24:MI:SS'), 12) 
		</if>
	</select>

	<select parameterType='map' id='consultarReservasCanceladas' resultMap='ReservaResult'>
		<include refid="getAllReservas"/>
		AND res.tipo!='Simple' AND res.estado='Cancelada'
		<if test="tipoReserva != null">
			AND res.tipo = #{tipoReserva}
		</if>
		<if test="programa != null">
			AND usu.u_area = #{programa}
		</if>
		<if test="tipoRecurso != null">
			AND rec.tipo = #{tipoRecurso}
		</if>
	</select>
</mapper>